<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
{% autoescape off %}

<body>

    <table align="center" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0">
                    <tr>
                        <td valign="top" style="padding-top:10px; padding-right:20px;">
                            {{email.shortDescription}}
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <br>
                Hi {{user.username}}
                <br>
                <h1>{{email.title}}</h1>
                <h3>{{email.subtitle}}</h3>
                <br><br>
                <p>{{email.message}}</p>
                <br><br>
    
                Regards, <br>
                FanyaJobsUG Support <br>
                <h4>FanyaJobs</h4>
    
    
            </td>
        </tr>
    </table>
</body>





{% endautoescape %}
</html>