
{% load static %}
{% load bootstrap_icons %}

<!doctype html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="FanyaJobs" />
    
    <link rel="stylesheet" href="{% static 'app/css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">    
  </head>
  <body id="top">

                  {% if messages %}
                  {% for message in messages %}

                  {% if messages.tags == 'error' %}
                  <div class="alert alert-danger">
                  {{message}}
                  </div>
                  {% else %}
                  <div class="alert alert-{{message.tags}}">
                  {{message}}  
                  </div>
                  {%  endif %}

                  {% endfor %}
                  {% endif %} 


    <!-- HOME -->
    <!-- <section class="section-hero overlay inner-page bg-image" style="background-image: url('static/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Login</h1>
            <div class="custom-breadcrumbs">
                <span class="text-white"><strong>Sign into Account</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="site-section vh-100" style="background: url({% static 'app/images/bgee.jpg' %}) center center" >
      <div class="container " >
        <div class="row form-group">

        

            <div class="col-md-12">
            <!-- <input type="submit" value="Home" class="btn px-4 btn-info text-white"> -->
            {% bs_icon 'bi bi-house-fill'  %}
            
            </div>
      </div>

        <div class="row ">
          
          <div class="col-lg-6 mx-auto">
            
            <form action="#" class="p-4 border shadow rounded bg-light" method="POST" >
              <h2 class="mb-4 text-danger text-center">Forgot your password !</h2>

                {% csrf_token %}

                <div class="row">
                    <div class="col-12 text-center">
                        <p>Let us find your account first, enter the email address associated with the account below:</p>
                    </div>
                </div>

                  

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <label class="text-black" for="fname">Enter Email <span class="text-danger">*</span>   </label>
                        {{form.email}}
                    </div>
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
                
                
         
                <div class="row form-group">
                    <div class="col-md-12">
                    <input type="submit" value="Recover Password" class="btn px-4 btn-primary text-white">
                    </div>
                    <div class="col_12 text-center">
                        <p class="mb-0 mt-3">
                            <small class="text-dark mr-2">Create a new account ?</small>
                            <a href="{% url 'register_page' %}" class="text-dark font-weight-bold">Register</a>
                        </p>
                    </div>
                </div>

            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    

    <!-- SCRIPTS -->
    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'app/js/stickyfill.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.easing.1.3.js' %}"></script>
    
    <script src="{% static 'app/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    
    <script src="{% static 'app/js/bootstrap-select.min.js' %}"></script>
    
    <script src="{% static 'app/js/custom.js' %}"></script>
   
   
     
  </body>
</html>